header{
  background-image: url(../assets/banners/bg.jpg);
  background-repeat: no-repeat;
  height: 28rem;
  border-block-end: 0.1rem solid var(--secondary-background-color);
  animation: bannerMovement 30s infinite;
}



#navbar {
  min-height: 5vh;
  position: sticky;
  top: 0rem;
  z-index: 2;
  /* background-image: linear-gradient(
    90deg,
    var(--dark-color) 0%,
    var(--primary-color) 75%
  ); */
  border-block-end: 0.1rem solid var(--secondary-background-color);
}

.navbar__logo img {
  max-height: 8rem;
  margin: 0.5rem 0;
}

.navbar__wrapper {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
  width: 40%;
}

.navbar__menu__item {
  color: var(--light-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s linear;
  width: 100%;
  
}


.navbar__menu__item:hover{
  color: var(--accent-color);
}

.navbar__menu__item p{
 letter-spacing:0.1rem

}


.menu__item--wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}


.navbar__menu__item i {
  margin-inline-start: 0.8rem;
  font-size: 1.5rem;
  transition: all 0.1s linear;
}

.navbar__search {
  color: var(--light-color);
  margin-inline-start: 2rem;
  cursor: pointer;
  font-size: 2rem;
}

/* dropdown menu */

.dropdown-menu__wrapper{
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 10%;
  transition: all 0.2s linear; 
}

.dropdown-menu--explore{
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 10%;
  transition: all 0.2s linear; 
}

.dropdown-menu__item{
  margin: 1rem 0;
  font-size: var(--font-s);
  width: 100%;
  transition: all 0.2s linear;
  padding: 1rem 5rem;
  text-align: center;
  position: relative;
}

.dropdown-menu__item:hover{
  background-color: var(--dark-color);
}


.dropdown-menu__list--explore{
  position: absolute;
  transition: all 0.2s linear;
  background-color: var(--dropdown-menu-background);
  border: 1px solid var(--dark-color);
  border-radius: var(--card-radius);
  width: 10%;
  left: 25%;
  top: 80%;
}


.dropdown-menu__list--pages{
  position: absolute;
  transition: all 0.2s linear;
  background-color: var(--dropdown-menu-background);
  border: 1px solid var(--dark-color);
  border-radius: var(--card-radius);
  width: 10%;
  left: 45%;
  top: 80%;
}



/* dropdown menu */

.navbar__wallet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn__wallet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn__wallet > * {
  margin: 0 0.5rem 0 0;
}

.navbar--modes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  transition:all 0.2s linear;
}


.navbar__button--light {
  padding: 1rem;
  width: 100%;
  background-color: var(--navbar-btn-color);
  cursor: pointer;
  border-radius: 20%;
}

.navbar__button--light__div{
  padding: 1rem;
  width: 62%;
  background-color: var(--navbar-btn-color);
  cursor: pointer;
  border-radius: 20%;
}


.navbar__profile__img{
  width: 36%;
  transition: all 0.2s linear;
}

.navbar__profile__img img{
  width: 4.5rem;
  background-color: var(--navbar-btn-color);
  cursor: pointer;
  border-radius: 20%;
  transition: all 0.2s linear;
  z-index: -2;
}

.navbar__profile__img::before{
  content: "3";
  font-size: 1.2rem;
  text-align: center;
  display:block;
  width: 1%;
  z-index: 20;
  border-radius: 100%;
  background-color: red;
  position: absolute;
  top: 20%;
  transition: all 0.2s linear;
}

.navbar__profile__img::after{
  content: " ";
  display:none;
  width: 4.6rem;
  height: 4.6rem;
  z-index: 20;
  border-radius: 20%;
  background-color: rgba(174, 174, 174, 0.744);
  position: absolute;
  top: 19%;
  transition: all 0.2s linear;
}

.navbar__profile__img:hover.navbar__profile__img:after{
 display: block;
 cursor: pointer;
}

.navbar__profile__img:hover .navbar__button--light__div{
  width: 10%;
}

.rp-menu {
  cursor: pointer;
  padding: 1rem 1.5rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  font-size: 3rem;
  display: none;
}

.rp-menu i {
  color: var(--light-color);
}

@media (max-width: 60rem) {
  .rp-menu {
    display: block;
  }

  .navbar__menu {
    display: none;
  }
}



  @keyframes bannerMovement {
    0%{
      background-position:center;
    }

    25%{
      background-position:center left;
    }

    50%{
      background-position:center;
    }

    75%{
      background-position:right center;
    }

    100%{
      background-position:center
    }
  }



  /* navbar submenu */
  

.dropdown-menu__wrapper{
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 10%;
  transition: all 0.2s linear; 
}

.dropdown-menu--explore{
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 10%;
  transition: all 0.2s linear; 
}

.dropdown-menu__item{
  margin: 1rem 0;
  font-size: var(--font-s);
  width: 100%;
  transition: all 0.2s linear;
  padding: 1rem 5rem;
  text-align: center;
  position: relative;
}

.dropdown-menu__item:hover{
  background-color: var(--dark-color);
}


.dropdown-menu__list--explore{
  position: absolute;
  transition: all 0.2s linear;
  background-color: var(--dropdown-menu-background);
  border: 1px solid var(--dark-color);
  border-radius: var(--card-radius);
  width: 10%;
  left: 25%;
  top: 80%;
}


.dropdown-menu__list--pages{
  position: absolute;
  transition: all 0.2s linear;
  background-color: var(--dropdown-menu-background);
  border: 1px solid var(--dark-color);
  border-radius: var(--card-radius);
  width: 10%;
  left: 45%;
  top: 80%;
}

  /* navbar submenu */


  .profile__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    top: 5rem;
  }

  .profile__title{
    color: var(--font-primary-color);
    font-size: var(--font-l);
  }

  .profile__link--1, .profile__link--2, .profile__link--3{
    color: var(--font-accent-color);
    transition: all 0.2s linear;
  }

  .profile__link--1:hover, .profile__link--2:hover, .profile__link--3:hover{
    color: var(--font-primary-color);
  }